{% extends "::base.html.twig" %}

{% block title %}Produkty{% endblock %}

{% block body %}

    <h1>Lista produktów</h1>

    {% for product in products %}

        {% if loop.first or (loop.index % 4) == 0  %}
            <div class="row">
        {% endif %} 

        {% include 'Products/product.html.twig' with {'product': product } %}

        {% if loop.last or (loop.index % 4) == 0  %}
            </div>
        {% endif %}

    {% endfor %}

    <div class="row">
        {{ knp_pagination_render(products) }}
    </div>

{% endblock %}