{% extends "::base.html.twig" %}

{% block title %}AppBundle:Basket:index{% endblock %}

{% block body %}
<h1>Koszyk</h1>

<table class="table table-stripped">
    <thead>
        <tr>
            <th>Id</th>
            <th>nazwa</th>
            <th>cena</th>
            <th>opis</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products_in_basket %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.desc }}</td>
            </tr>
            {% endfor %}
    </tbody>
{% endblock %}
